@using Pronia.ViewModels
@model List<GetSlideVM>
@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Table</h4>
                <a asp-action="create" class="btn btn-success">Create</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                   Order
                                   </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Settings
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (GetSlideVM slide in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        <img src="~/assets/images/website-images/@slide.Image">
                                    </td>
                                    <td>
                                        @slide.Title
                                    </td>
                                    <td>
                                        @slide.Order
                                    </td>
                                    <td>
                                        @slide.CreatedAt.ToString("d MMMM yyy HH:mm")
                                    </td>
                                    <td>
                                        <a asp-action="update" asp-route-id="@slide.Id" class="btn btn-warning"> <i class="mdi mdi-pencil"></i></a>
                                        <a asp-action="delete" asp-route-id="@slide.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                                        <a class="btn btn-primary"><i class="mdi mdi-open-in-new"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
